// NAVBAR

.navbar {
  background: linear-gradient($darker, $darkest);
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  height: $navbar-height;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 5px 5px 5px 5px;
  #title {
    color: $accent;
    margin-left: 2rem;
    font-size: 35px;
    font-weight: 600;
    &:hover {
      color: $white;
    }
    #home{
      margin-right: 0.8rem;
    }
  }
  .top-right-nav {
    display: flex;
    margin-right: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: $white;
    #top-right-icon {
      color: $white;
      padding: 0px 6px;
      margin-right: 10px;
      font-size: 20px;
      cursor: pointer;
      .icon-text-top {
        font-family: $mainfont;
        display: inline;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 25px;
        position: relative;
        top: -1px;
      }
      &:hover {
        color: $accent;
      }
    }
  }
}

