
// NOT FOUND PAGE:
.not-found {
  height: 100vh-$navbar-height;
  position: absolute;
  width: 80%;
  padding-top: 10%;
  text-align: center;
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.5rem;
    padding-top: 4rem;
  }
}
