// PROJECTS:

.card-container {
  display: grid;
  width: 90%;
  margin: 0 auto;
  .card {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: $radius;
    background-color: $lighter;
    width: 100%;
    grid-column: 1 / 2;
    overflow: hidden;
    box-shadow: 
    0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    h2 {
      color: $darker;
      font-size: 3rem;
      padding: 1rem;
      text-align: center;
      font-weight: 700;
    }
    img {
      object-fit: cover;
      width: 100%;
    }
    .card-text-content {
      display: grid;
      grid-template-columns: 5rem 1fr 5rem;
      h4 {
        grid-column: 2 / 3;
        font-size: 1.6rem;
        padding: 1rem;
        color: $darker;
        text-align: center;
        line-height: 3rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.7rem;
        padding: 1rem;
        grid-column: 2 / 3;
      }
      .project-icons {
        font-size: 4rem;
        grid-column: 2 / 3;
        color: $darkest;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
        i {
          padding: 1rem;
          &:hover {
            color: $darkaccent;
          }
        }
      }
    }
  }
}

button {
  background-color: $accent;
  font-family: $mainfont;
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $darker;
  padding: 15px 70px;
  border-radius: 0 0 $radius $radius;
  border: 0px;
  grid-column: 1 / 4;
  width: 100%;
  &:hover {
    background-color: $darkaccent;
    color: $lighter;
  }
}
