$font:    Helvetica, sans-serif;
$black: rgb(0, 0, 0);
$darkest: rgb(34, 34, 34);
$darker: rgb(56, 56, 56);
$dark: rgb(133, 133, 133);
$medium: rgb(180, 180, 180);
$light: rgb(204, 203, 203);
$lighter: rgb(247, 247, 247);
$lightest: rgb(255, 255, 255);
$white: #fff;
$accent: #d19627;
$darkaccent: #b48226;
$blue: rgb(99, 110, 112);
$navbar-height: 10vh;
$mainfont: 'Open Sans', sans-serif;
$radius: 8px;