@import './sass/reset';
@import './sass/variables';
@import './sass/navbar';
@import './sass/landingpage';
@import './sass/notfound';
@import './sass/projects';
@import './sass/about';


// GENERAL STYLES
*{
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: $mainfont;
  background-color: $light;
}

// CONTAINERS
.main-container {
  margin: 0 auto;
  margin-top: $navbar-height;
  width: 80%;
}

.content-area {
  font-style: $font;
  color: $darker;
}


